* {
  padding: 0.1rem;
  margin: 0.1rem;
  box-sizing: border-box;
  font-size: 22px;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  font-weight: bold;
}
span {
  color: aliceblue;
}
.container {
  background-color: rgb(5, 66, 5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}
.smallcontainer {
  background-color: rgba(0, 0, 0, 0.294);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}
select {
  font-size: 0.7rem;
  height: 2rem;
  width: 6.6rem;
  background-color: gray;
  border: none;
  font-weight: bold;
}
input {
  background-color: gray;
  border: none;
  font-weight: bold;
}

select:focus {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
@media only screen and (max-width: 500px) {
  .container,
  .smallcontainer {
    width: 100vw;
    height: 100vh;
  }
}
